
    
    
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="color:blue">Please Select IP Type</h4>
      </div>
      <div class="modal-body row">
      	<div class="form-group col-md-5 col-md-offset-3">
		<label class="control-label">IP Type</label> <select name="Environment"
		    ng-options="ip.label for ip in ipTypes" validation="required"
			ng-model="ipType" class="form-control" title="IP Type">
			<option value="">--IP Type--</option>
		</select>
	    </div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-success" ng-click="ok()">OK</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
      </div>
    </div>
