<div class="container-fluid" ng-controller="kvmctr">
	<div class="row">
		<div class="col-md-12">
			<div rc-wizard="kvmInstallWizard" class="modal-body">
				<section id="wizard" import-comconf>
					<div id="rootwizard">
						<ul class="nav rc-nav-wizard" style="margin-left: 50px">
							<li><a href="#tab1" data-toggle="tab"> <span
									class="badge">1</span> <span translate="COM_TYPE">COM
										Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							</a></li>
							<li><a href="#tab2" data-toggle="tab"> <span
									class="badge">2</span> <span translate="SELECT_IMAGE">Select Image&nbsp;</span>
							</a></li>
							<li><a href="#tab3" data-toggle="tab"> <span
									class="badge">3</span> <span translate="VNFC_CONFIG">VNFc Config&nbsp;</span>
							</a></li>
							<li><a href="#tab4" data-toggle="tab"> <span
									class="badge">4</span> <span>Set Password&nbsp;</span>
							</a></li>
							<li><a href="#tab5" data-toggle="tab"> <span
									class="badge">5</span> <span translate="INSTALL_OPTION">Install Options&nbsp;</span>
							</a></li>
							<li><a href="#tab6" data-toggle="tab"> <span
									class="badge">6</span> <span translate="DEPLOY">Deploy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							</a></li>
						</ul>
						<div class="modal-body">
							<div class="tab-content">
								<form class="tab-pane active ng-pristine ng-valid" id="tab1" name="tab1" rc-submit="" rc-step novalidate="">
									<div class="form-group">
										<label class="control-label">Data1</label> 
										<input name="vm_image_dir" class="form-control" type="text" ng-model="data1" ng-init="installConfig.vm_img_dir='/var/images'" />
									</div>
								</form>
								<form class="tab-pane" id="tab2" name="tab2" rc-submit="" rc-step>
									<div class="form-group">
										<label class="control-label">Data2</label> 
										<input name="vm_image_dir" class="form-control" type="text" ng-model="data2" ng-init="installConfig.vm_img_dir='/var/images'"/>
									</div>
								</form>
								<form class="tab-pane" id="tab3" name="tab3" rc-submit="" rc-step>
									<div class="row">
									<div class="form-group col-md-5">
											<label class="control-label">Data3</label> <select
												name="flavor" 
												ng-model="flavor"
												class="form-control"
												ng-options="fl for fl in data3"
												title="Flavor" validation="required">
											</select>
									</div>
									</div>
								</form>
								<form class="tab-pane" id="tab4" name="tab4" rc-submit="" rc-step>
									<div ng-include="'views/common/password.html'"></div>
								</form>
								<form class="tab-pane" id="tab5" name="tab5" rc-submit="" rc-step>
									<div>Hello World!</div>
								</form>
								<form class="tab-pane" id="tab6" name="tab6" rc-submit rc-step>
									<div class="panel panel-default">
										<div class="panel-heading">
											<label class="control-label" translate="DEPLOYMENT_SUMMARY">Deployment Summary</label>
										</div>
										<div class="panel-body">
											
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<div class="form-group">
								<div class="pull-right">
									<a class="btn btn-default"
										ng-click="rc.kvmInstallWizard.backward() "
										ng-show="rc.kvmInstallWizard.currentIndex > rc.kvmInstallWizard.firstIndex" translate="BACK">Back</a>
									<a class="btn btn-primary"
										ng-click="rc.kvmInstallWizard.forward()" 
										ng-show="rc.kvmInstallWizard.currentIndex < rc.kvmInstallWizard.navigationLength" translate="CONTINUE">Continue</a>
									<a class="btn btn-primary"
										ng-show="rc.kvmInstallWizard.currentIndex == rc.kvmInstallWizard.navigationLength" translate="DEPLOY">Deploy</a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
